<section class="cover">
    <div class="laptop hide-mobile">
        <div class="top" ng-class="{open: checkIfOpen()}">
            <div class="screen">
                <div class="terminal">
                    <p>Last login: {{date}} on zzks013</p>
                    <p> Welcome to the ssh terminal of the Angular Typewrite Demo site </p>
                    <p>---------------------------------</p>
                    <p> $ <span typewrite type-delay="100" text="stuff" initial-delay="1.5s" callback-fn="activateTitle()"></span> </p>
                </div>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
</section>
<section class="info">
    <div class="bars-container">
        <div class="drop">
            <div class="bar-12">
                <h1 typewrite initial-delay="1s" type-delay="100" start="title" text="'AngularJS Directive for \'Typing\' effect'"></h1> </div>
        </div>
        <div class="drop">
            <div class="bar-4">
                <h2>Installation</h2>
                <p>Just clone this repository or do bower install angular-typewrite --save. After including the angular-typewrite.js file on your app, inject it 'angularTypewrite' as a dependency on your AngularJS module:</p> <pre><code>angular
    .module('yourAppName', [
    'rest',
    'of',
    'your'
    'dependencies',
    'angularTypewrite']);</code></pre> </div>
            <div class="bar-4">
                <h2>How to Use</h2>
                <p>Just add the <b>typewrite</b> attribute to the desired HTML element, passing the text that should print as the <b>'text' attribute</b> and the directive takes care of the rest. </p>
                <p>The 'text' attribute can be a single string or an array of string. In case an array is passed, the string on each index is erased so the next item can be printed. When the last index is reached, that string stays on the screen. (So if
                    you want to erase the last string, just push an empty string to the end of the array).</p>
            </div>
            <div class="bar-4">
                <h2>Preferences</h2>
                <ul>
                    <li><b>initial delay</b>: set an 'initial-delay' attribute for the element</li>
                    <li><b>type delay</b>: set a 'type-delay' attribute for the element</li>
                    <li><b>erase delay</b>: set a 'erase-delay' attribute for the element</li>
                    <li><b>control the typing start with scope variable</b>: set a 'start' attribute for the element</li>
                    <li><b>scope callback</b>: pass the desired scope callback as the 'callback-fn' attribute of the element</li>
                    <li>More on the <a href="https://github.com/antoniocapelo/Angular-Typewrite/">README.md</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>